## 1.- Obtén la diferencia entre el salario más alto y el más pequeño.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dict_1={
    "Nombre":["Ringo","Jhon","Paul","George","Yoko"], 
    "Edad":[45,34,42,38,47],
    "Salario":[12000,14000,12000,11000,10000],
    "Genero":["M","M","M","M","F"]
}

In [3]:
data=pd.DataFrame(dict_1)

In [4]:
data

   Nombre  Edad  Salario Genero
0   Ringo    45    12000      M
1    Jhon    34    14000      M
2    Paul    42    12000      M
3  George    38    11000      M
4    Yoko    47    10000      F

In [8]:
print("El salario maximo es: ",data["Salario"].max(), "\nEl salario minimo es: ",data["Salario"].min(),"\nLa diferencia entre el maximo y el minimo es: ",data["Salario"].max()-data["Salario"].min())

El salario maximo es:  14000
El salario minimo es:  10000
La diferencia entre el maximo y el minimo es:  4000